USE [SimuladorDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/05/2025 03:25:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 08/05/2025 03:25:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[Accessibility] [int] NOT NULL,
 CONSTRAINT [PK_Attributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 08/05/2025 03:25:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsAbstract] [bit] NOT NULL,
	[BaseClassId] [uniqueidentifier] NULL,
	[IsSealed] [bit] NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalVars]    Script Date: 08/05/2025 03:25:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalVars](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[MethodId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LocalVars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MethodCalls]    Script Date: 08/05/2025 03:25:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MethodCalls](
	[Id] [uniqueidentifier] NOT NULL,
	[MethodName] [nvarchar](100) NOT NULL,
	[ReferenceType] [int] NOT NULL,
	[ParentMethodId] [uniqueidentifier] NOT NULL,
	[ReferenceName] [nvarchar](max) NULL,
	[ParentCallId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MethodCalls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Methods]    Script Date: 08/05/2025 03:25:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Methods](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ReturnType] [nvarchar](max) NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[IsAbstract] [bit] NOT NULL,
	[IsSealed] [bit] NOT NULL,
	[Accessibility] [int] NOT NULL,
 CONSTRAINT [PK_Methods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Params]    Script Date: 08/05/2025 03:25:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Params](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[MethodId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Params] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250424213741_InitialCreate', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250507201540_SegundaMigracion', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250507212309_SeparateMethodCallModel', N'9.0.4')
GO
INSERT [dbo].[Attributes] ([Id], [Name], [Type], [ClassId], [Accessibility]) VALUES (N'40000000-0000-0000-0000-000000000001', N'context', N'string', N'20000000-0000-0000-0000-000000000002', 2)
GO
INSERT [dbo].[Classes] ([Id], [Name], [IsAbstract], [BaseClassId], [IsSealed]) VALUES (N'10000000-0000-0000-0000-000000000001', N'TemplateBase', 1, NULL, 0)
INSERT [dbo].[Classes] ([Id], [Name], [IsAbstract], [BaseClassId], [IsSealed]) VALUES (N'20000000-0000-0000-0000-000000000001', N'StrategyBase', 1, NULL, 0)
INSERT [dbo].[Classes] ([Id], [Name], [IsAbstract], [BaseClassId], [IsSealed]) VALUES (N'10000000-0000-0000-0000-000000000002', N'ConcreteTemplate', 0, N'10000000-0000-0000-0000-000000000001', 0)
GO
INSERT [dbo].[LocalVars] ([Id], [Name], [Type], [MethodId]) VALUES (N'60000000-0000-0000-0000-000000000001', N'result', N'bool', N'30000000-0000-0000-0000-000000000002')
GO
INSERT [dbo].[MethodCalls] ([Id], [MethodName], [ReferenceType], [ParentMethodId], [ReferenceName], [ParentCallId]) VALUES (N'70000000-0000-0000-0000-000000000001', N'StepA', 0, N'30000000-0000-0000-0000-000000000002', NULL, NULL)
GO
INSERT [dbo].[Methods] ([Id], [Name], [ReturnType], [ClassId], [IsAbstract], [IsSealed], [Accessibility]) VALUES (N'30000000-0000-0000-0000-000000000001', N'StepA', N'void', N'10000000-0000-0000-0000-000000000002', 0, 0, 1)
INSERT [dbo].[Methods] ([Id], [Name], [ReturnType], [ClassId], [IsAbstract], [IsSealed], [Accessibility]) VALUES (N'30000000-0000-0000-0000-000000000002', N'Execute', N'int', N'20000000-0000-0000-0000-000000000002', 0, 0, 0)
GO
INSERT [dbo].[Params] ([Id], [Name], [Type], [MethodId]) VALUES (N'50000000-0000-0000-0000-000000000001', N'mode', N'int', N'30000000-0000-0000-0000-000000000002')
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD  CONSTRAINT [FK_Attributes_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attributes] CHECK CONSTRAINT [FK_Attributes_Classes_ClassId]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Classes_BaseClassId] FOREIGN KEY([BaseClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Classes_BaseClassId]
GO
ALTER TABLE [dbo].[LocalVars]  WITH CHECK ADD  CONSTRAINT [FK_LocalVars_Methods_MethodId] FOREIGN KEY([MethodId])
REFERENCES [dbo].[Methods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalVars] CHECK CONSTRAINT [FK_LocalVars_Methods_MethodId]
GO
ALTER TABLE [dbo].[MethodCalls]  WITH CHECK ADD  CONSTRAINT [FK_MethodCalls_Methods_ParentMethodId] FOREIGN KEY([ParentMethodId])
REFERENCES [dbo].[Methods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MethodCalls] CHECK CONSTRAINT [FK_MethodCalls_Methods_ParentMethodId]
GO
ALTER TABLE [dbo].[Methods]  WITH CHECK ADD  CONSTRAINT [FK_Methods_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Methods] CHECK CONSTRAINT [FK_Methods_Classes_ClassId]
GO
ALTER TABLE [dbo].[Params]  WITH CHECK ADD  CONSTRAINT [FK_Params_Methods_MethodId] FOREIGN KEY([MethodId])
REFERENCES [dbo].[Methods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Params] CHECK CONSTRAINT [FK_Params_Methods_MethodId]
GO
