<p>navbar works!</p>

<nav>
  <a routerLink="/home" routerLinkActive="active">Inicio</a>
  <a routerLink="/classes" routerLinkActive="active">Clases</a>
  <a routerLink="/interfaces" routerLinkActive="active">Interfaces</a>
  <a routerLink="/namespaces" routerLinkActive="active">Namespaces</a>
  <a routerLink="/attributes" routerLinkActive="active">Atributos</a>
  <a routerLink="/methods" routerLinkActive="active">Métodos</a>
  <a routerLink="/params" routerLinkActive="active">Parámetros</a>
  <a routerLink="/method-calls" routerLinkActive="active">Llamadas a Métodos</a>
  <a routerLink="/interface-methods" routerLinkActive="active">Métodos de Interface</a>
  <a routerLink="/local-vars" routerLinkActive="active">Variables Locales</a>
</nav>
